<ion-content>
  <div class="background">
    <div class="topo">
      <a href="#" [routerLink]="['/home']" >
        <img class="devolta" src="/assets/de-volta.png">
      </a>
    </div>
    <div class="text">Partido</div>
    <img class="candidato" src="/assets/doacao-financeira.jpg">

    <div class="form">
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="stacked">Nome do Partido<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="nome"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="stacked">Data da doação</ion-label>
        <ion-input type="date" [(ngModel)]="data" maxlength="8"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="stacked">Valor da doação<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="number" [(ngModel)]="valor"></ion-input>
      </ion-item>
      <br>
      <ion-button color="#035F65" class="botao"  expand="block" (click)="cadastrar()">Cadastrar</ion-button>
    </div>

  </div>
</ion-content>
