<ion-content>
  <div class="background">
  <div class="text">Declare sua doação</div>
    <img class="logo" src="/assets/doacao.jpg">
    <div class="form">
      <ion-item class="item" color=" #D9D9D9">
        <ion-input  placeholder="E-mail" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-input placeholder="Senha" type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>

      <ion-button color="#035F65" class="botao" expand="block" (click)="entrar()">Entrar</ion-button>
      <p class="cadastrar" [routerLink]="['/register']">Criar nova conta</p>
    </div>

  </div>

</ion-content>
