<ion-content>
  <div class="background">
  <div class="text">Cadastre-se</div>
    <div class="form">
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="nome"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input type="sobrenome" [(ngModel)]="sobrenome"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="floating">Cpf</ion-label>
        <ion-input type="cpf" [(ngModel)]="cpf"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="telefone" [(ngModel)]="telefone"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <br>
      <ion-item class="item" color=" #D9D9D9">
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password" [(ngModel)]="confsenha"></ion-input>
      </ion-item>
      <br>
      <ion-button color="#035F65" class="botao" [disabled]="!canSave()" expand="block" (click)="cadastrar()">Cadastrar</ion-button>
      <p class="cadastrar" [routerLink]="['/login']">Já possui conta?</p>
    </div>
  </div>
</ion-content>
