<ion-content>
  <div class="background">
    <img class="logo" src="/assets/conta.jpeg">
    <div id="my-div">
      <a href="#" [routerLink]="['/doar-candidato']" class="fill-div">
        <img class="icon" src="/assets/formulario-de-registro.png">
        <p> Registrar doação </p>
      </a>
    </div>

    <div id="my-div">
      <a href="#" [routerLink]="['/doacoes-aprovada']" class="fill-div">
        <img class="icon" src="/assets/dinheiro.png">
        <p> Doações aprovadas </p>
      </a>
    </div>

    <div id="my-div">
      <a href="#" [routerLink]="['/listar-doacoes']" class="fill-div">
        <img class="icon" src="/assets/lista.png">
        <p> Listar doações </p>
      </a>
    </div>

    <div id="my-div">
      <a href="#" [routerLink]="['/configuracoes']" class="fill-div">
        <img class="icon" src="/assets/configuracoes.png">
        <p> Configurações </p>
      </a>
    </div>

  </div>

</ion-content>
